<section>
    <app-render-items [title]="'New Releases'" [href]="'album'" [items]="newReleases"></app-render-items>
    <h4 [ngClass]="'mb-3'">Explore</h4>
    <article>
        <a [ngStyle]="{'background-color': category.color}" *ngFor="let category of categories">
            <h3>{{category.name}}</h3>
            <img decoding="async" loading="lazy" [src]="category.icons[0].url" [height]="132" [width]="132" alt="">
        </a>
    </article>
</section>
<app-loader></app-loader>