article {    
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr))
}

a {
    width: 100%;
    min-height: 120px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

h3 {
    font-size: 24px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
}

img {
    right: 0;
    -webkit-transform: rotate(25deg) translate(18%, -2%);
    transform: rotate(25deg) translate(18%, -2%);
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}