a {
    border: 1px solid var(--white);
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

a:hover {
    background-color: var(--white);
    color: var(--black);
}