a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: var(--border-r);
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 55%, rgba(23, 23, 23, 1) 72%);
    transition: transform 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;

    text-decoration: none;
    color: var(--white);
    padding: 30px 0;
}

a:hover {
    transform: translate3d(0px, -10px, 0px);
    // background: linear-gradient(130deg, rgba(197, 194, 201, 0.205)25%, rgba(197, 194, 201, 0.24) 75%);
    background: rgba(197, 194, 201, 0.226);
}
