<section [ngClass]="'container mb-5'">
    <div [ngClass]="'d-md-flex justify-content-between align-items-center mb-4'">
        <h1 [ngClass]="'text-center text-md-start'">Top artists</h1>
        <div [ngClass]="'d-flex justify-content-center justify-content-md-start'">
            <button id="1" (click)="getArtist('50', 'short_term', '1')">Last 4 weeks</button> | 
            <button id="2" (click)="getArtist('50', 'medium_term', '2')">Last 6 months</button> | 
            <button id="3" (click)="getArtist('50', 'long_term', '3')">All time</button>
        </div>
    </div>
    <app-render-items [class]="'circle'" [items]="artists"></app-render-items>
</section>
<app-loader></app-loader>