button, a{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: var(--white);
    margin: 0 5px 0 5px;
}

button {
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 55%, rgba(23, 23, 23, 1) 72%);
    border-radius: 30px;
    transition: background 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}
button:hover{
    border-radius: 30px;
    background: var(--white-hover);
    color: var(--black);
}

section{
    top: 4em;
    position: relative;
}

@media (max-width: 402px) {
    button{
        font-size: 3.5vw;
    }
}