<section>
    <header>
        <h3 *ngIf="title" [ngClass]="'mb-3'">{{title}}</h3>
    </header>
    <div [className]="'grid'">
        <article *ngFor="let item of items" [ngClass]="'item-container'">
            <app-artist-card [url]="item.url">
                <img decoding="async" loading="lazy" [className]="class" [src]="item.images.url" [width]="160"
                    [height]="160" [alt]="item.name">
                <span [ngClass]="'reduce-text container'">{{item.name}}</span>
                <app-play-button [url]="item.external_url" [ngClass]="'play-button'"></app-play-button>
            </app-artist-card>
        </article>
    </div>
</section>