.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: var(--grid-gap);
}

img {
    object-fit: cover;
}

.item-container:hover {
    .play-button {
        display: inline-block;
    }
}

.item-container {
    width: 100%;
    height: 100%;
}

.play-button {
    display: none;
    position: absolute;
}

.text-muted{
    font-size: 15px;
}

.little-border{
    border-radius: 4px;
}