<section>
    <h1>SpotiLife</h1>
    <button #loginButton (click)="login()">LOGIN IN TO SPOTIFY</button>
    <div *ngIf="loading" class="mt-4 spinner-border text-light" role="status"></div>
</section>