<table [ngClass]="'table table-borderless'">
    <thead>
        <tr>
            <th [scope]="'col'">#</th>
            <th [scope]="'col'">Title</th>
            <th [scope]="'col'" [ngClass]="'td-artist'">Album</th>
            <th [scope]="'col'">Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="'song-hover'" *ngFor="let track of tracks; let i = index">
            <td [ngClass]="'id'">{{i+1}}</td>
            <td [ngClass]="'d-flex align-items-center'">
                <div [ngClass]="'mx-2'">
                    <a [href]="track.url" target="_blank" rel="noopener noreferrer">
                        <img decoding="async" loading="lazy" [src]="track.images.url" [width]="50" [height]="50" [alt]="track.name">
                        <div class="container-icon"><i [ngClass]="'bi bi-play-circle-fill'"></i></div>
                    </a>
                </div>
                <div>
                    <div [ngClass]="'reduce-text'">{{track.name}}</div>
                    <div [ngClass]="'reduce-div'">
                        <a [ngClass]="'links'" *ngFor="let art of track.artists" [href]="'#/artists/'+art.id">{{art.name}}</a>
                    </div>
                </div>
            </td>
            <td [ngClass]="'td-artist'"><div [ngClass]="'reduce-text'">{{track.album_name}}</div></td>
            <td><div>{{track.duration_ms | minutes}}</div></td>
        </tr>
    </tbody>
</table>