table {
    font-family: var(--font-light);
    color: var(--white);
}

th {
    color: var(--grey-light);
}

td {
    vertical-align: middle;
}

.song-hover:hover {
    background-color: rgba(240, 248, 255, 0.253);
    .container-icon {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .td-artist {
        display: none;
    }
}

.links~.links::before {
    content: ", ";
}

.links {
    font-size: 12px;
    text-decoration: none;
    color: var(--white);
}

.links:hover {
    text-decoration: underline;
}

a {
    display: inline-block;
    position: relative;

}

i{
    font-size: 35px;
    color: var(--green);
}
.container-icon {
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    display: flex;
}
