.input {
    width: 364px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin-top: 8px;
    border: 0;
    border-radius: 500px;
    color: #000;
    letter-spacing: -1px;
    font-size: 15px;
    height: 40px;
}

div {
    -webkit-box-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    left: 5px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 0;
}

span {
    -webkit-box-flex: 1;
    color: #121212;
    -ms-flex: 1;
    flex: 1;
}

header {
    -webkit-box-flex: 0;
    flex: 0 1 364px;
    position: relative;
    
}

@media (max-width: 576px) {
    header {
        margin: 0 1em 0 2.5em;
    }
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

::placeholder {
    text-align: start;
}