a {
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: scale .3s;
}

a:hover {
    scale: 1.1;
}

i{
    color: transparent;
    color: var(--green);
}
i:hover{
    color: #16ee61;
}
i::before{
    border-radius: 15em;
    background-color: var(--black);
    color: var(--green);
}
a::before{
    display: flex;
    justify-content: center;
}