:root {
    --font-bold: spotify-font-bold;
    --font-light: spotify-font-light;

    --h2: 48px;
    --h1: 55px;

    --grey: #6B6B6B;
    --black: #181818;
    --white: #FFFFFF;
    --white-hover : #ffffffaf;
    --green: #1ED760;
    --grey-light: #a5a5a5;
    --light-grey: #e2e2e2;
    --border-r: 8px;

    --column-width: 1px;
    --column-count: 5;
    --grid-gap: 14px;

    .circle {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .reduce-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .reduce-text-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .reduce-div {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .active {
        border-radius: 30px;
        background: var(--white);
        color: var(--black);
    }
}

body {
    color: var(--white);
    background-color: var(--black);
    font-family: var(--font-bold);
    // letter-spacing: -1px;
}

@font-face {
    font-family: spotify-font-bold;
    src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: spotify-font-light;
    src: url('../fonts/Gotham-XLight.otf');
}