<section  [ngClass]="'row mt-4'" *ngIf="searchItems && inputValue">
    <article [ngClass]="'col-lg-4'">
        <h4>Artist</h4>
        <section [ngClass]="'text-center'">
            <a [href]="'#/artists/'+searchItems.artist[0].id" rel="noopener noreferrer">
                <img [ngClass]="'circle'" [src]="searchItems.artist[0].images.url" [alt]="" [width]="300" [height]="300">
            </a>
            <div [ngClass]="'mt-2'">{{searchItems.artist[0].name}}</div>
            <div [ngClass]="'text-muted'">{{searchItems.artist[0].type}}</div>
        </section>
    </article>
    <article [ngClass]="'col-lg-8'">
        <h4>Tracks</h4>
        <app-table [tracks]="searchItems.tracks"></app-table>
    </article>
    <article [ngClass]="'col-lg-12'">
        <app-render-items [title]="'More artists'" [href]="'artists'" [items]="searchItems.artist" [class]="'circle'"></app-render-items>
        <app-render-items [title]="'Albums'" [href]="'album'" [items]="searchItems.albums"></app-render-items>            
    </article>
</section>