section {
    text-align: center;
    padding: 1em 0 5em 0;
    background-position: center;
    background-size: cover;
    margin: 0px;
}

h1 {
    font-size: var(--h1);
}

.num {
    font-size: 30px;
    color: var(--green);
}