<section *ngIf="user" class="row" [ngStyle]="{'background': 'linear-gradient(to bottom,'+color+', var(--black))'}">
    <header>
        <img [className]="'circle'" [width]="250" [height]="250" [src]="user.images[0].url" [alt]="user.display_name + 'image'">
        <h1>{{user.display_name}}</h1>
    </header>
    <article class="user-stats d-flex justify-content-center">
        <div class="row mx-md-5 ml-md-5">
            <span class="num">{{user.followers}}</span>
            <span>FOLLOWERS</span>
        </div>
        <div class="row mx-md-5 ml-md-5">
            <span class="num">{{playlist}}</span>
            <span>PLAYLIST</span>
        </div>
        <div class="row mx-md-5 ml-md-5">
            <span class="num">{{followings}}</span>
            <span>FOLLOWING</span>
        </div>
    </article>
</section>