<section [ngClass]="'mt-3'">
    <header [ngClass]="'d-sm-flex justify-content-between mb-3'">
        <h2 [ngClass]="'text-center'">Top artists of all time</h2>
        <div [ngClass]="'d-flex justify-content-center'">
            <app-white-button [href]="'#/artists'" [name]="'see more'"></app-white-button>
        </div>
    </header>   
    <article [ngClass]="'text-center'"> <app-render-items [class]="'circle' "[items]="artists"></app-render-items></article>
</section>