section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

a {
    color: var(--white);
    text-decoration: none;
}

h1 {
    font-size: 3.5vmax;
}

h2 {
    font-size: 23px;
}

span {
    color: var(--green);
}

.description {
    font-size: 13px;
}

.bg-color {
    padding: 1em 0 5em 0;
}