<section *ngIf="playlist" [ngStyle]="{'background-image': 'url('+playlist.images[0].url+')'}">
    <div class="bg-color" [ngStyle]="{'background': 'linear-gradient(to bottom,'+playlist.primary_color+', var(--black))'}">
        <div [ngClass]="'mt-5 container'">
            <div [ngClass]="'mb-4'">
                <div>
                    <img [width]="250" [height]="250" [src]="playlist.images[0].url"
                        [alt]="playlist.name + 'image'">
                </div>
            </div>
            <div>
                <h1 [ngClass]="'reduce-text-2'">{{playlist.name}}</h1>
                <h2 [ngClass]="'reduce-text-2'" [innerHTML]="playlist.description"></h2>
                <div [ngClass]="'d-sm-flex'">
                    <div>Followers: <span>{{playlist.followers}}</span> </div>
                    <div [ngClass]="'ms-sm-3'">Tracks: <span>{{playlist.total}}</span></div>
                    <a [ngClass]="'ms-sm-3'" [href]="playlist.external_urls" target="_blank" rel="noopener noreferrer"><span>@</span>{{playlist.owner.display_name}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="playlist" [ngClass]="'container'">
    <app-player [url]="playlist.external_urls"></app-player>
    <div>
        <app-table [tracks]="playlist.tracks"></app-table>
    </div>
</div>
<app-loader></app-loader>