<section [ngClass]="'mt-5'">
    <header [ngClass]="'d-sm-flex justify-content-between mb-3'">
        <h2 [ngClass]="'text-center'">Top tracks of all time</h2>
        <div [ngClass]="'d-flex justify-content-center'">
            <app-white-button [href]="'#/tracks'" [name]="'see more'"></app-white-button>
        </div>
    </header>
    <article> <app-table [tracks]="tracks"></app-table> </article>
</section>