button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: var(--white);
    border-radius: 30px;
    transition: background 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    margin: 0 5px 0 5px;
}

button:hover {
    background: var(--white-hover);
    color: var(--black);
}

a {
    color: var(--white);
}

section {
    top: 4em;
    position: relative;
}

@media (max-width: 402px) {
    button{
        font-size: 3.5vw;
    }
}
