<section>
    <app-user-info></app-user-info>
    <div class="container">
        <app-top-artist></app-top-artist>
        <app-top-tracks></app-top-tracks>
    </div>
    <app-loader></app-loader>
</section>