nav {
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    border: none;

}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
}

ul::-webkit-scrollbar {
    border-radius: 10px;
    width: 3px;
    background-color: transparent;
}

ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 40% 0%, 5% 84%, from(#b1b1b1be), to(#8d8d8dc4), color-stop(.6, #818181ce))
}

.offcanvas {
    width: 241px;
    background-color: rgba(0, 0, 0, 0.918);
}

.bi-spotify {
    color: #1ED760;
}

button {
    color: var(--wight);
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: var(--light-grey);
    transition: color 0.2s;
}

a:hover {
    color: var(--wight);
}

ul li {
    text-decoration: none;
    list-style: none;
}

i {
    font-size: 20px;
}

.bi-list {
    font-size: 35px;
}

svg {
    width: 137px;
}

.playlists {
    font-family: var(--font-light);
    font-size: 15px
}