<div [ngClass]="'d-flex align-items-center'">
    <a [href]="url" target="_blank" rel="noopener noreferrer">
        <i [ngClass]="'bi bi-play-circle-fill'"></i>
    </a>
    <a [ngClass]="'ms-5'" [href]="url" target="_blank" rel="noopener noreferrer">
        <i [ngClass]="'bi bi-suit-heart-fill'"></i>
    </a>
    <a [ngClass]="'ms-4'" [href]="url" target="_blank" rel="noopener noreferrer">
        <i [ngClass]="'bi bi-arrow-down-circle'"></i>
    </a>
</div>