i {
    color: var(--green);
}

a:hover {
    transform: scale(1.05);
}

.bi-suit-heart-fill {
    font-size: 35px;
    color: var(--green);
}

.bi-play-circle-fill {
    font-size: 60px;
}

.bi-arrow-down-circle {
    font-size: 35px;
    color: var(--grey);
}