.bg {
    filter: blur(18px);
    padding: 265px 0 265px 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.25;
    position: relative;
    z-index: -1;
}

.no_bg {
    position: absolute;
    text-align: center;
    top: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h1 {
    font-size: 5.5vmax
}

h2 {
    font-size: 20px;
}

i {
    color: rgb(0, 140, 255);
    font-size: 20px;
}

@media (max-width: 992px) {
    .no_bg {
        margin-top: 2em;
    }
}