<section *ngIf="artist">
    <div class="bg" [ngStyle]="{'background-image': 'url('+artist.images[1].url+')'}"></div>
    <div class="no_bg container">
        <div>
            <img [src]="artist.images[1].url" [width]="320" [height]="320"
                class="circle">
        </div>
        <h1 [ngClass]="'reduce-text-2'">{{artist.name}}</h1>
        <h2>{{artist.followers.total}} followers</h2>
        <div>
            <span><i class="bi bi-patch-check-fill"></i></span>
        </div>
    </div>
</section>
<app-loader></app-loader>
