<section class="error container">
    <h1>401</h1>
    <h2>Your session expired :(</h2>
    <a>If you want to continue navigate, click on the button</a>
    <button #continueButton (click)="goHome()">Continue</button>
    <div *ngIf="loading" class="mt-4 spinner-border text-light" role="status"></div>
</section>
