.error {
    width: 100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 15vw;
}

h2{
    font-size: 4vw;
}

button {
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border-radius: 30px;
    background-color: var(--green);
    border: transparent;
}
