<section class="row mt-4 d-flex justify-content-center">
    <h2 [ngClass]="'text-md-start text-center mb-4 mt-4'">Top albums</h2>
    <app-render-items [items]="albums"></app-render-items>
</section>